#container {
  width: 400px;
  background-color: aliceblue;
  padding: 20px;
}

input {
  display: block;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: none;
  outline: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list {
  margin: 15px 0;
}

.list > li {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 10px;
  margin-bottom: 2px ;
}

button {
  margin-top: 5px;
  border: none;
  background-color: gainsboro;
  width: 45px;
  height: 20px;
}
